.journey {
  text-align: center;
}

h3 {
  color: #EC008C;
  font-size: 18px;
  line-height: 150%;
}

h4 {
  color: #7D4D9F;
  font-size: 18px;
  line-height: 150%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.up {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 50px;
  vertical-align: middle;
}

}

@media (max-width:768px) {
  .journey {
    font-size: 3em;

  }
