body {
  background-color: #fcaf17;
}

.navbar-default {
  background-color: #fcaf17;
}

.navbar-brand:hover, .navbar-brand:active, .navbar-brand.active {
   border-color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #FFFFFF;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #fcaf17;
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.navbar-container {
  border-bottom: solid 2px #FFFFFF;
}

.container-theme {
  border-bottom: 2px;
}

h3 {
  color: #6B6B6B;
  font-family: Roboto-light;
  font-size: 18px;
  line-height: 150%;
}

h2 {
  color: #6B6B6B;
  font-family: Roboto-bold;
  font-size: 18px;
}

h4 {
  color: #F9BF1D;
  font-family: Roboto-light;
  font-size: 18px;
  line-height: 150%;
}

h5 {
  color: #F9BF1D;
  font-family: Roboto-bold;
  font-size: 18px;
}

.linha{
  border-top: solid 2px #6B6B6B;
  margin-left: 15px;
}

.vazado {
  background-color: #EB088C;
  background-image: url("../img/deciframe_2.png");
  background-size: cover;
  padding: 60px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.vazado_card {
  background-color: #4A3884;
  padding: 60px;
}

.usability {
  background-color: #4A3884;
}

.final {
  background-color: #92278F;


}

.prototype_1 {
  margin-bottom: 60px;
}

.heading {
  text-align: center;
  font-size: 8em;
  font-family: roboto-bold;
}



@media (max-width:768px) {
  .heading {
    font-size: 3em;
  }
