/*
#FCAF17
#F15A29
#EC008C
#7D4D9F
#80D0DC
#6DC8BD
*/

body, html {
  font-family: 'Roboto', sans-serif;
}
body {
  margin-top: 120px;
}
.hr {
  border: none;
  margin-bottom: 40px;
}
.navbar-container {
  border-bottom: solid 2px #EC008C;
  padding-bottom: 20px;
}
.heading {
  font-size: 6em;
  font-weight: bold;
  color: #F15A29;
}
.heading > strong {
  color: #EC008C;
}
.heading-container {
  padding-left: 40px;
  padding-right: 40px;
}
.heading-container > p {
  font-size: 2em;
  color: #F15A29;
}
@media (max-width:768px) {
  .heading {
    font-size: 2.3em;
  }
  .heading-container {
    padding: 0 20px;
  }
}
.container-theme {
  border-bottom: solid 2px #EC008C;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
@media (min-width:992px) {
  .container-no-padding {
    padding-right: 0;
    padding-left: 0;
  }
}
.grid {
  height: calc(100vh - 143px);
}
@media (min-width: 768px) {
  .grid {
    height: 750px;
  }
}
@media (min-width: 992px) {
  .grid {
    height: 970px;
  }
}
@media (min-width: 1200px) {
  .grid {
    height: 1170px;
  }
}
.grid-elements {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "work1 work1 work2 work2 work3 work3"
    "work1 work1 work2 work2 work3 work3"
    "work4 work4 logo1 logo2 work3 work3"
    "work4 work4 work5 work5 logo3 logo3"
    "work6 work6 work6 logo4 work7 work7"
    "work6 work6 work6 logo4 work7 work7"
}
.grid-el {
  margin-right: 10px;
  margin-bottom: 10px;
  color: #fff;
  line-height: 0.9em;
  padding: 5px;
  font-size: 0.9em;
  font-weight: bold;
  background-size: cover;
}
@media (min-width: 768px) {
  .grid-el {
    padding: 5px;
    font-size: 2.3em;
  }
}
@media (min-width: 992px) {
  .grid-el {
    padding: 15px;
    font-size: 1em;
  }
}
@media (min-width: 1200px) {
  .grid-el {
    font-size: 4em;
  }
}
.grid-el.last {
  margin-right: 0;
  margin-bottom: 10px;
}
.work1 { background-color: #EC008C; grid-area: work1; background-image: url("../img/work_wikilibras.png");  } .work1 > a {color: #FFFFFF;}
.work2 { background-color: #FCAF17; grid-area: work2; background-image: url("../img/work_diferentonas.png");} .work2 > a {color: #FFFFFF;}
.work3 { background-color: #7D4D9F; grid-area: work3; background-image: url("../img/work_contribua.png");   } .work3 > a {color: #FFFFFF;}
.work4 { background-color: #6DC8BD; grid-area: work4; background-image: url("../img/work_deciframe.png");   } .work4 > a {color: #FFFFFF;}
.work5 { background-color: #80D0DC; grid-area: work5; background-image: url("../img/work_ws.png");          } .work5 > a {color: #FFFFFF;}
.work6 { background-color: #7D4D9F; grid-area: work6; background-image: url("../img/work_tcc.png");         } .work6 > a {color: #FFFFFF;}
.work7 { background-color: #F15A29; grid-area: work7; background-image: url("../img/work_fold.png");        } .work7 > a {color: #FFFFFF;}
.logo1 { background-color: #FFFFFF; grid-area: logo1; border: solid 2px #7D4D9F; } .logo1 > a {color: #7D4D9F;}
.logo2 { background-color: #FFFFFF; grid-area: logo2; border: solid 2px #EC008C; } .logo2 > a {color: #EC008C;}
.logo3 { background-color: #FFFFFF; grid-area: logo3; border: solid 2px #80D0DC; } .logo3 > a {color: #80D0DC;}
.logo4 { background-color: #FFFFFF; grid-area: logo4; border: solid 2px #FCAF17; } .logo4 > a {color: #FCAF17;}

.grid-el > a {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
.grid-el > a:link,
.grid-el > a:visited {
  text-decoration: none;
}
.grid-el > a:hover,
.grid-el > a:active {
  text-decoration: none;
}
.featured-title {
  font-size: 2.5em;
  font-weight: bold;
  color: #EC008C;
}
.featured-text {
  color: #EC008C;
  font-size: 1.2em;
}
.featured-content {
  font-size: 1em;
  padding: 10px;
  margin-bottom: 40px;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .featured-content {
    padding: 40px;
    font-size: 2em;
  }
}
@media (min-width: 992px) {
  .featured-content {
    padding: 40px;
    font-size: 3em;
  }
}
.featured-content-a {
  background-color: #80D0DC;
}
.featured-content-b {
  background-color: #7D4D9F;
}

/* TIMELINE */
.timeline-box {
  position: relative;
  padding-top: 27px;
  border: solid 2px #EC008C;
  color: #EC008C;
}
.timeline-box:before {
  content: ' ';
  position: absolute;
  top: 50px;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  width: 2px;
  background-color: #EC008C;
}
.timeline-entry-title {
  font-size: 32px;
  margin: 0 0 0 20px;
}
.timeline-entry-title:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #EC008C;
  background-color:#FFFFFF;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  z-index: 1000;
}
.timeline-entry-odd > div > .timeline-entry-title {
  text-align: right;
  margin: 0 20px 0 0;
}
.timeline-entry-odd > div > .timeline-entry-title:before {
  left: inherit;
  right: -10px;
}
.timeline-entry-text {
  text-align: right;
  padding: 10px 20px 20px 20px;
  font-size: 1.2em;
}
.timeline-entry-odd > div > .timeline-entry-text {
  text-align: left;
}
/* END TIMELINE */

/* MONALISA OVERHIDE */
a {
  color: #EC008C;
}
.navbar-default {
  padding: 15px 15px 0 15px;
  background-color: #fff;
  border: none;
}
.navbar-brand {
  padding: 8px;
  border: solid 2px;
  border-color: transparent;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
.navbar-brand:hover, .navbar-brand:active, .navbar-brand.active {
   border-color: #80D0DC;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-collapse {
  margin-top: 15px;
}
.navbar-default .navbar-nav>li>a {
  border: solid 2px;
  border-color: transparent;
  color: #EC008C;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #EC008C;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #fff;
  border-color: #80D0DC;
  color: #EC008C;
}

/* ABOUT ME */
.container-about-me {
  background-image: url("../img/bg_aboutme.png");
  background-repeat: no-repeat;
  background-position: center top;
}
